<html>
<body bgcolor="#f4f9fa">
<form action="/userdata">

    <h2>Are you health conscious and wanna see recipes matching your daily intake ?<br>
    Enter your details </h2><br><br>
    Age    : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type ="text" name ="age"> years <br><br>
    Gender : <select name = "gender">
    <option value="male">Male</option>
    <option value="female">Female</option>
    </select><br><br>
    Weight : <input type ="text" name ="weight"> kgs <br><br>
    Height : &nbsp;<input type ="text" name ="height"> inches <br><br>
    Todays Intake : <input type="text" name ="intake"> kcal <br><br>

    <input type="submit" value="Show me Recommended Recipes">

</form>


</body>
</html>